*{
	margin: 0;
	padding: 0;
}
body{
	background: url("../img/polytech.jpg");
	background-size: cover;
	overflow: hidden;
	
}
.characterImgOuter img{
	width: 30%;
	position: absolute;
	z-index: -1;
	
}
.characterImg{
	left: 0;
}
.characterImgOuter .side{
	width: 30%;
	right: 0;
}

.content{
	width: 100%;
	position: absolute;
	transform: translate(-50%, 0%);
	left: 50%;
	height: 300px;
	
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-size: 24px
}
.content-inner{
	width: 100%;
	margin: 0 auto;
	
	height: 100%;
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: stretch;

}
.character{
	text-align: center;
	flex: 1;	
	font-size: 30px;
	margin-top: 20px;
	border-right: 2px solid white;
}
.content-text{
	border-right: 2px solid white;	
	flex: 4;
	height: 100%;
	margin: 20px;

}
.btns{
	
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
	justify-content: space-around; 
	margin-top: 20px;
	

}	

.btns .back{
	background: url("./img/left.png");
	background-repeat: no-repeat;
	width: 50px;
	align-self: center;
	
}
.btns .back1{
	background: url("./img/left.png");
	background-repeat: no-repeat;
	width: 50px;
	align-self: center;
	height: 50px;
}
.btns .next{
	background: url("./img/right.png");
	background-repeat: no-repeat;
	width: 50px;
	align-self: center;
}
.btns .next1{
	background: url("./img/right.png");
	background-repeat: no-repeat;
	width: 50px;
	align-self: center;
	height: 50px;
}


.btns .end{
	background: url("./img/out.png");
	background-repeat: no-repeat;
	width: 44px;
	
	align-self: center;
}

.submit{
	margin: 20px;
	width: 100px;
	height: 40px;
}
label{
	padding: 10px 15px;
}

.tick{
	color: green;
	font-weight: bold;
}
.cross{
	color: red;
	font-weight: bold;
}

ol li{
	margin-left: 30px;
}
ul li{
	margin-left: 45px;
}
h2{
	margin-bottom: 30px;
}


/* laptop */
@media only screen   
and (min-device-width : 720px)   
and (max-device-width : 960px){ 
	*:not(button){
		font-size: 18px;
	}
	.content{
		
		height: 220px;
		
		bottom: 0%;
		
		font-size: 18px;
		overflow-y: scroll;
	}
	h2{
		margin-bottom: 10px;
	}
	.btns .next, .back{
		height: 50px;
	}
	.btns .end{
		height: 40px;
	}
} 
  
@media only screen   
and (min-width: 960px)   
and (max-width: 1366px)  
{ 
	*:not(button){
		font-size: 24px;
	}
	.content{
		height: 300px;
		
		bottom: 0%;
		
		font-size: 18px;
		overflow-y: scroll;
	}
}
/* mobile */
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 720px){
	*:not(button){
		font-size: 14px;
	}
	.content{
		
		height: 200px;
		
		bottom: 0%;
		
		font-size: 14px;
		overflow-y: scroll;
	}
	.character{
		font-size: 24px;
	}
	h2{
		margin-bottom: 10px;
	}
	.btns .next, .back{
		height: 50px;
	}
	.btns .end{
		height: 30px;
	}
}
@media only screen    
and (min-width: 1366px){
	*:not(button){
		font-size: 28px;
	}
	.content{
		
		height: 350px;
		
		bottom: 0%;
		
		font-size: 28px;
		overflow-y: scroll;
	}
	.character{
		font-size: 40px;
	}
	h2{
		margin-bottom: 20px;
	}
	.btns .next, .back{
		height: 70px;
	}
	.btns .end{
		height: 50px;
	}
} 